* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0d0d0d;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

nav i {
  font-size: 20px;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 20px;
}

section {
  padding: 100px 60px;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #00ffff;
}
